form.main-form
  p.main-form__text.main-form__text-message
    |Пользователь с таким электронным адресом не зарегистрирован. Но вы можете &nbsp;
    a.main-form__link href="/signup" получить инвайт
