form.main-form  name="reset" method="post" action="/reset"
  p.main-form__text Введите адрес почты, указанный при регистрации, и мы сообщим вам, как восстановить пароль.
  input.main-form__field  type="email" name="email" id="newEmail" placeholder="Ваш email" required=""
  input.main-form__btn.feedback type="submit" value="Восстановить пароль"

