form.main-form.main-form--single-field name="signup" method="post" action="/signup"
  input.main-form__field type="email" name="email" id="newEmail" placeholder="Ваш email" required=""
  input.main-form__btn.feedback type="submit" value="Запросить инвайт"
